
@font-face {
    font-family: 'corsiva';
    src: url(fonts/monotype-corsiva.ttf);
}
*{
   font-family: corsiva;
    background-color: black;
     color: white;
}

.header{
    text-align: center;
    font-size: 100px;
    

}


.homeVid{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 750px;
   height: 750px;
   

}
#h1{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}
#h2{
    text-align: center;
    font-size: 50px;
    color: white;
}

#carousel{
    height: 750px;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    
}

.carousel-item {
    

    height: 750px;
    width: auto;
}

.carousel-control-prev{
color: gray;
}