
@font-face {
    font-family: 'corsiva';
    src: url(fonts/monotype-corsiva.ttf);
}
*{
   font-family: corsiva;
    background-color: black;
     color: white;
}

.header{
    text-align: center;
    font-size: 100px;
    

}


.homeVid{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 750px;
   height: 750px;

}
#h1{
    text-align: center;
    font-size: 50px;
}
#h2{
    text-align: center;
    font-size: 50px;
}
.image-list{
   
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height: 500px;
    width: 500px;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.image{
	
    scroll-snap-align: center;
}


